<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%block fb_meta%}
  <meta property="og:site_name" content="Float Map" />
  <meta property="og:title" content="Float Map" />
  <meta property="og:description" content="The best site ever." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.floatmap.com:8000"/>
  <meta property="fb:admins" content="1221648" />
  <meta property="fb:app_id" content="665496423525876" />
  <meta property="og:image" content="http://placehold.it/250x250" />
  {%endblock%}
  {% block extra_css %}{%endblock%}
  <script src="http://leaflet-cdn.s3.amazonaws.com/build/master/leaflet-src.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.layoutmanager/0.9.6/backbone.layoutmanager.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
</head>
<body>
  <script>
  //FB JS SDK BBQ
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '665496423525876',
      xfbml      : true,
      version    : 'v2.0'
    });
  };

  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
  </script>

  <main id="main">
  {% block content%}{%endblock%}
  </main>

<!--   <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" width="0">
    <defs>
      <pattern id="tiny-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="16" height="16" patternTransform="rotate(45)">
        <circle cx="9" cy="9" r="2" fill-opacity="1" stroke-opacity="0" fill="#ffca24" />
      </pattern>
      <pattern id="small-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="16" height="16" patternTransform="rotate(45)">
        <circle cx="9" cy="9" r="2" fill-opacity="1" stroke-opacity="0" fill="#ff9324"   />
      </pattern>
      <pattern id="large-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="16" height="16" patternTransform="rotate(45)">
        <circle cx="9" cy="9" r="2" fill-opacity="1" stroke-opacity="0" fill="#ff5b24"  />
      </pattern>
      <pattern id="huge-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="16" height="16" patternTransform="rotate(45)">
        <circle cx="9" cy="9" r="2" fill-opacity="1" stroke-opacity="0" fill="#ff2424" />
      </pattern>
    </defs>
  </svg>​ -->

<!-- Diagonal stripes -->
<!--   <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" width="0">
    <defs>
      <pattern id="tiny-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="8" height="8" patternTransform="rotate(30)">
        <rect x="0" y="0" width="2" height="8" fill-opacity="1" stroke-opacity="0" fill="#ffca24" />
      </pattern>
      <pattern id="small-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="8" height="8" patternTransform="rotate(30)">
        <rect x="0" y="0" width="2" height="8" fill-opacity="1" stroke-opacity="0" fill="#ff9324"   />
      </pattern>
      <pattern id="large-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="8" height="8" patternTransform="rotate(30)">
        <rect x="0" y="0" width="2" height="8" fill-opacity="1" stroke-opacity="0" fill="#ff5b24"  />
      </pattern>
      <pattern id="huge-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="8" height="8" patternTransform="rotate(30)">
        <rect x="0" y="0" width="2" height="8" fill-opacity="1" stroke-opacity="0" fill="#ff2424" />
      </pattern>
    </defs>
  </svg>​ -->



    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" width="0">
    <defs>
      <pattern id="tiny-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="12" height="12" patternTransform="rotate(45)">
        <circle cx="3" cy="3" r="2" fill-opacity="1" stroke-opacity="0" fill="#ffca24" />
      </pattern>
      <pattern id="small-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="12" height="12" patternTransform="rotate(45)">
        <circle cx="3" cy="3" r="2" fill-opacity="1" stroke-opacity="0" fill="#ff9324"   />
      </pattern>
      <pattern id="large-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="12" height="12" patternTransform="rotate(45)">
        <circle cx="3" cy="3" r="2" fill-opacity="1" stroke-opacity="0" fill="#ff5b24"  />
      </pattern>
      <pattern id="huge-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="12" height="12" patternTransform="rotate(45)">
        <circle cx="3" cy="3" r="2" fill-opacity="1" stroke-opacity="0" fill="#ff2424" />
      </pattern>
    </defs>
  </svg>​


  {% block extra_js %}{%endblock%}
</body>
</html>
