{% extends "base.html" %}
{% load static from staticfiles %}
 {% block extra_css %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="{{STATIC_URL}}css/floatmap.css">
 {% endblock %}
 {% block content %}
  <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

      <script id="headerTemplate" type="template">          
        <div class="row clearfix">
          <div class="logo col-md-3">
              <h1><a href="/">FLOAT</a></h1>
          </div>

          <form action="#" method="POST" id="search" class="col-md-7">
              <input type="text" class="search-input">
              <button>Search</button>
          </form>

          <nav class="col-md-2">
              <a href="#about" data-toggle="modal" data-target="#aboutModal">About</a>
          </nav>
        </div>
      </script>

      <script id="mapTemplate" type="template"></script>

      <script id="legendTemplate" type="template">   

      
        <div data-layer='apLayer'>
            <div class='legend-panel col-md-4'>
              <h3 data-toggle='tooltip' title='Areas with a serious risk of flooding even without climate change, based on historical record and topography. (FEMA 2014)'>Annual Precipitation</h3>
              <div class="onoffswitch">
                <input type="checkbox" name="apLayer-switch" class="onoffswitch-checkbox" data-layer="apLayer" id="apLayer-switch" checked>
                <label class="onoffswitch-label" for="apLayer-switch">
                  <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
                </label>
              </div>    
            </div>
            <div class='legend-data col-md-8'>
              <div data-layer='apLayer' class='legend-data'>
                <div class='apRange'></div>
              </div>
            </div>   
         </div>
         <div data-layer='epLayer'>
            <div class='legend-panel col-md-4'>
              <h3 data-toggle='tooltip' title='Increase in the average number of days with precipitation greater than 1 inch each year in 2040-2070, relative to the present. (NOAA 2014)'>Storm Frequency</h3>
              <div class="onoffswitch">
                <input type="checkbox" name="epLayer-switch" class="onoffswitch-checkbox" data-layer="epLayer" id="epLayer-switch" checked>
                <label class="onoffswitch-label" for="epLayer-switch">
                  <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
                </label>
              </div>       
            </div>
            <div class='legend-data col-md-8'>
              <div data-layer='epLayer'>
                <div class='epRange'>
                  <svg width="325" height"70">
                    <rect x="0" y="0" width="81" height="25" class="tiny dots"></rect>
                    <rect x="81" y="0" width="81" height="25" class="small dots"></rect>
                    <rect x="162" y="0" width="81" height="25" class="big dots"></rect>
                    <rect x="243" y="0" width="81" height="25" class="huge dots"></rect>
                    <defs>
                    <marker id="arrow" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="10" markerHeight="10" orient="auto"><path d="M0,-5L10,0L0,5"></path></marker>
                    </defs>
                    <line x1="0" y1="55" x2="325" y2="55" class="link arrow" marker-end="url(#arrow)"></line>
                    <text x="94" y="67">Increasing storm frequency</text>
                    <text x="3" y="45">+13%</text>
                    <text x="95" y="45">+26%</text>
                    <text x="196" y="45">+39%</text>
                    <text x="297" y="45">+52%</text>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div data-layer='floods'>
            <div class='legend-panel col-md-4'>
              <h3 data-toggle='tooltip' title='Increase in the average amount of precipitation each year in 2040-2070, relative to the present. (NOAA 2014)'>Flood Zones</h3>
              <div class="onoffswitch">
                <input type="checkbox" name="floods-switch" class="onoffswitch-checkbox" data-layer="floods" id="floods-switch" checked>
                <label class="onoffswitch-label" for="floods-switch">
                  <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
                </label>
              </div>       
            </div>
            <div class='legend-data col-md-8'>
              <ul class='floodRange'>
                <li class="year-500">
                  <div></div>
                  <span>High</span>
                </li>
                <li class="year-100">
                  <div></div>
                  <span>Extreme</span>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </script>

      <script id="floatLayout" type="layout">
          <header id="header"></header>
          <div id="map">
            <div id="legend"></div>
          </div>
      </script>

       <div class="modal fade" id="aboutModal" tabindex="-" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">About Float</h4>
              </div>
              <div class="modal-body">
                <p>Float Map shows the projected impacts of unrestrained climate change on where you live and work.</p>
                <p>Float Map shows projections of the 2040-2070 time period.</p>
                <p>The Map projects what happens if the current path continues with no serious reductions in climate pollution.</p>
                <p>We use only statistically strong data from the most recent available NOAA, FEMA, and university research, and we always share our sources.</p>
                <p>Float Map currently shows projections related to worsening flooding in the Midwest US, and plans to expand to other impacts and other regions of the United States.</p>

                <h4>Our Team:</h4>
                <p>Float is an independent, not-for-profit organization.</p>
                <li>Keith Brower Brown</li>
                <li>Mike Vattuone</li>
                <li>Matteo Bannerjee</li>
                <li>Max Gardner</li>
                <li>Daniel Goldfarb</li>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
  {%endblock%}

  
  {% block extra_js %} 
  <script>
    window.epData = $.parseJSON({{epData|safe}});
    window.apData = $.parseJSON({{apData|safe}});
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="{{STATIC_URL}}js/floatmap.js"></script>
  {% endblock %}