{% extends "base.html" %}
{% load static from staticfiles %}
 {% block extra_css %}
 <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="{{STATIC_URL}}css/floatmap.css">
 {% endblock %}
 {% block content %}
  <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header class="clearfix">
            <div class="row">
                <div class="logo col-md-3">
                    <h1><a href="/">FLOAT</a></h1>
                </div>

            <form action="#" method="POST" id="search" class="col-md-7">
                <input type="text" class="search-input">
                <button>Search</button>
            </form>

            <nav class="col-md-2">
                <a href="#about" data-toggle="modal" data-target="#aboutModal">About</a>
            </nav>
        </header>

        <!-- Add your site or application content here -->
        <div id="map-container">
            <div id="map"></div>
        </div>

        <div id="popup">

        </div>

       <div class="modal fade" id="aboutModal" tabindex="-    " role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">About Float</h4>
              </div>
              <div class="modal-body">
                <p>Float Map shows the projected impacts of unrestrained climate change on where you live and work.</p>
                <p>Float Map shows projections of the 2040-2070 time period.</p>
                <p>The Map projects what happens if the current path continues with no serious reductions in climate pollution.</p>
                <p>We use only statistically strong data from the most recent available NOAA, FEMA, and university research, and we always share our sources.</p>
                <p>Float Map currently shows projections related to worsening flooding in the Midwest US, and plans to expand to other impacts and other regions of the United States.</p>

                <h4>Our Team:</h4>
                <p>Float is an independent, not-for-profit organization.</p>
                <li>Keith Brower Brown</li>
                <li>Mike Vattuone</li>
                <li>Matteo Bannerjee</li>
                <li>Max Gardner</li>
                <li>Daniel Goldfarb</li>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" width="0">
          <defs>
          
            <pattern id="dots" patternUnits="userSpaceOnUse" x="0" y="0" width="10" height="10">
              <circle cx="4" cy="4" r="2" fill-opacity="1" stroke="#F4CFA1" stroke-opacity="1" fill="#F4CFA1"  />
            </pattern>
            <pattern id="big-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="10" height="10">
              <circle cx="4" cy="4" r="2" fill-opacity="1" stroke="#FFD600" stroke-opacity="1" fill="#FFD600"   />
            </pattern>
            <pattern id="bigger-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="10" height="10">
              <circle cx="4" cy="4" r="2" fill-opacity="1" stroke="#FE4F00" stroke-opacity="1" fill="#FE4F00"  />
            </pattern>
            <pattern id="biggest-dots" patternUnits="userSpaceOnUse" x="0" y="0" width="10" height="10">
              <circle cx="4" cy="4" r="2" fill-opacity="1" stroke="#CF2B00" stroke-opacity="1" fill="#CF2B00"  />
            </pattern>
          </defs>
        </svg>​
  {%endblock%}

  
  {% block extra_js %} 
   <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="{{STATIC_URL}}js/floatmap.js"></script>
  {% endblock %}